.container{
    @apply min-h-screen max-h-full w-screen px-4;
    @apply flex flex-col justify-center items-center;
    @apply gap-2;
    @apply bg-bg-color;
    .brand {
        @apply flex items-center justify-center;
        @apply gap-2;
        img {
            @apply h-20;
        }
        h1 {
            @apply text-white uppercase;
        }
    }

    form {
        @apply flex flex-col gap-6;
        @apply rounded-2xl;
        @apply py-12 px-16;
        // @apply h-128 w-80;
        @apply bg-[#00000076];
        @apply shadow-bg-color shadow-lg;
    }
    input {
        background-color: rgb(25, 21, 29);
        @apply rounded-md py-2 px-4;
        @apply text-light-text text-base;
        @apply w-full;
        &:focus {
            @apply outline-none;
            border: 0.1rem solid #997af0;
        }
    }
    button {
        @apply bg-btn-color text-light-text text-base font-bold;
        @apply border-none cursor-pointer uppercase;
        @apply p-3 border-none rounded-md;
        @apply hover:bg-hover-btn-color;
    }
    span {
        @apply text-white uppercase;
        a {
            @apply text-blue-700 font-bold;
            text-decoration: none;
        }
    }
}