.chatInput{
  @apply grid items-center;
  @apply py-0 px-2 bg-[#080420];
  grid-template-columns: 5% 95%;
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    padding: 0 1rem;
    gap: 1rem;
  }
  .buttonContainer {
    @apply flex items-center gap-4 text-white;

    .emoji {
      @apply relative pl-2;
      svg {
        @apply text-2xl text-[#ffff00c8] cursor-pointer;
      }
      .emoji-picker-react {
        position: absolute;
        top: -350px;
        background-color: #080420;
        box-shadow: 0 5px 10px #9a86f3;
        border-color: #9a86f3;
        .emoji-scroll-wrapper::-webkit-scrollbar {
          background-color: #080420;
          width: 5px;
          &-thumb {
            background-color: #9a86f3;
          }
        }
        .submit {
          filter: contrast(0);
        }
        .emoji-search {
          background-color: transparent;
          border-color: #9a86f3;
        }
        .emoji-group:before {
          background-color: #080420;
        }
      }
    }
    
  }
  .inputContainer {
    @apply w-full rounded;
    @apply flex items-center gap-8;
    background-color: #ffffff34;
    input {
      @apply w-full h-full;
      @apply bg-transparent text-light-text text-lg;
      @apply border-none pl-4 py-1 pb-0;
    }

    input:focus{
      @apply outline-none
    }

    .send {
      @apply w-10 h-10 py-1 px-2 ;
      @apply rounded-full border-none;
      @apply flex justify-center items-center;
      @apply hover:bg-[#9a86f3];
      transition: ease-in-out .2s;
      @media screen and (min-width: 720px) and (max-width: 1080px) {
        padding: 0.3rem 1rem;
        svg {
          @apply text-base;
        }
      }
      svg {
        @apply text-2xl text-light-text;
      }
    }
  }
}