.chatContainer{
    @apply text-light-text;
    @apply grid overflow-hidden gap-1;
    grid-template-rows: 10% 80% 10%;

    @media screen and (min-width: 720px) and (max-width: 1080px) {
      grid-template-rows: 15% 70% 15%;
    }
    .chatHeader {
      @apply flex justify-between items-center;
      @apply py-0 px-8 ;
      background-color: #0d0d30;
      .userDetails {
        @apply flex items-center gap-4;
        .avatar img {
            @apply h-12;
        }
        .username h3 {
            @apply text-light-text;
        }
      }
    }
    .chatMessages {
      @apply py-4 px-4;
      @apply flex flex-col gap-2 overflow-auto;

      .message {
        @apply flex items-center;
        .content {
          max-width: 40%;
          @apply break-words;
          @apply py-2 px-4 rounded text-sm text-light-text;
          @media screen and (min-width: 720px) and (max-width: 1080px) {
            max-width: 70%;
          }
        }
      }
      .sent{
        @apply justify-end;
        .content {
          @apply bg-hover-btn-color;
          // background-color: #4f04ffdd;
        }
      }
      .recieved {
        @apply justify-start;
        .content {
          @apply bg-btn-color;
          // background-color: #9900ff20;
        }
      }
    }
}