.chatContainer{
    @apply h-screen w-screen gap-4;
    @apply flex flex-col justify-center items-center;
    background-color: #131324;

    .container {
        @apply h-screen w-screen;
        background-color: #00000076;
        display: grid;
        grid-template-columns: 25% 75%;
        @media screen and (min-width: 720px) and (max-width: 1080px) {
            grid-template-columns: 35% 65%;
        }
    }
}