.contactContainer{
    @apply bg-contact grid overflow-hidden;
    grid-template-rows: 10% 75% 15%;

    .brand {
        @apply flex justify-center items-center gap-4;
        img {
            @apply h-8;
        }
        h3 {
            @apply text-white uppercase;
        }
    }
    .contacts {
        @apply flex flex-col items-center gap-2 overflow-auto;

        .contact {
            // @apply bg-transparent;
            @apply bg-[#ffffff34];
            @apply cursor-pointer rounded;
            @apply min-h-[4rem] w-90_100;
            @apply flex items-center gap-0;
            transition: 0.5s ease-in-out;
            .avatar{
                img {
                    @apply h-10;
                }
            }
            .username  {
                @apply text-white;
            }
        }
        .selected {
            @apply bg-selected-chat;
        }
    }

    .currentUser {
        @apply bg-[#0d0d30];
        @apply px-4 py-1;
        @apply flex justify-between items-center;

        .avatar {
            @apply flex flex-row gap-2;    
            img {
                @apply h-12;
                max-inline-size: 100%;
            }
        }
        .username {
            @apply flex justify-center items-center;
            @apply text-white;
        }
    }

    .edit{
        @apply hidden relative flex justify-between items-center;
        @apply border-none cursor-pointer;
        @apply p-2 rounded-full;
        @apply bg-btn-color hover:bg-hover-btn-color;
        svg {
            @apply text-lg;
            color: #dfdbf1;
            @apply hover:text-white;
        }
    }

    .edit::before {
        content: "Reset Profile Picture"; 
        @apply  bg-black text-white;
        @apply p-1 rounded-md w-32;
        @apply absolute bottom-full left-50_100 -translate-x-60_100 opacity-0;
        @apply pointer-events-none;
        font-size: 11px;
        transition: opacity 0.3s;
    }

    .edit:hover::before {
        @apply opacity-100;
    }

    // @media screen and (min-width: 720px) and (max-width: 1080px) {
    //     gap: 0.5rem;
    //     .username h2 {
    //         font-size: 1rem;
    //     }
    // }
}

/***********************************************************************************/
